body {
  background: url('/assets/images/bg.png') repeat-x #D9D9D9;
  font-family: "Droid Sans", arial, sans-serif;
}
#header, div.post h1, div.post div.date, #sidebar, #content h1{
  font-family: "Lekton", arial, sans-serif;
  text-transform: uppercase;
}
#header {
  height: 150px;
  line-height: 130px;
  padding-top: 20px;
  font-size: 36px;
}
#header a {
  color: #333;
  text-decoration: none;
}
#header a:hover {
  color: #fff;
}

#fork {
  position: absolute;
  top: 0; right: 0;
  border: 0;
  z-index: 100;
}

p, ul, ol, dl {
  font-size: 13px;
  line-height: 24px;
  color: #666;
  margin-bottom: 24px;
}
a {
  color: #FF0033;
}
a:hover {
  color: #fff;
  background-color: #333;
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
h1,h2,h3,h4 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
#content h1 {
  font-size: 28px;
  line-height: 28px;
}
#content h1 a {
  color: #333;
  text-decoration: none;
}
#content h1 a:hover {
  color: #fff;
}
div.post div.date {
  color: #636363;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 30px;
}
#sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#sidebar ul li {
  margin: 0px;
  padding: 0px;
  line-height: 24px;
}
