<html>
  <head>
    <meta charset="utf-8" /> 
    <title>Jay Strybis</title>

    <link rel="stylesheet" href="/assets/css/reset.css" /> 
    <link rel="stylesheet" href="/assets/css/text.css" /> 
    <link rel="stylesheet" href="/assets/css/960.css" /> 
    <link rel="stylesheet" href="/assets/css/pygments.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" charset="utf-8"/>

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
  </head>
  <body>
    <a href="http://github.com/unreal/unreal.github.com"><img id="fork" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    <div class="container_16">
      <div class="grid_16">
        <h1><a href="/">Jay Strybis</a></h1>

        {{content}}
      </div>
      <div class="clear"></div>
      <div id="footer" class="grid_16">
        <p>
          <a
href="http://twitter.com/jaywastaken">twitter.com/jaywastaken</a><br />
          <a href="http://github.com/unreal">github.com/unreal</a><br />
        </p>
      </div>
    </div>
  </body>
</html>

